<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749906754952-mdm1vmcnfoqiie61g1k8e305gas7rajn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749906754952-mdm1vmcnfoqiie61g1k8e305gas7rajn</string>
	<key>API_KEY</key>
	<string>AIzaSyAjvDPTbbdxQAtifUXYggmfEk2ZFIZbZ2I</string>
	<key>GCM_SENDER_ID</key>
	<string>749906754952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskoo</string>
	<key>PROJECT_ID</key>
	<string>taskoo-c1feb</string>
	<key>STORAGE_BUCKET</key>
	<string>taskoo-c1feb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749906754952:ios:2d9fd6f7bbc0ab7365ce3d</string>
</dict>
</plist>